body {
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}

a {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}